{
  "extends": ["react-app", "plugin:sonarjs/recommended", "plugin:promise/recommended"],
  "plugins": ["sonarjs", "promise"],
  "rules": {
    "sonarjs/cognitive-complexity": "off"
  },
  "env": {
    "browser": true,
    "serviceworker": true
  }
}
